USE [master]
GO
/****** Object:  Database [addressbook]    Script Date: 2020/12/29 星期二 14:30:15 ******/
CREATE DATABASE [addressbook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'addressbook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVERAAA\MSSQL\DATA\addressbook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'addressbook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVERAAA\MSSQL\DATA\addressbook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [addressbook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [addressbook]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 2020/12/29 星期二 14:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[姓名] [nchar](10) NOT NULL,
	[生日] [nchar](10) NULL,
	[性别] [char](10) NULL,
	[居住地址] [nchar](20) NULL,
	[工作单位] [nchar](20) NULL,
	[电话] [nchar](20) NULL,
	[头像] [nchar](100) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[姓名] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
